<!DOCTYPE html>

<html>
<head>
	{% load static %}
        
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script src="{% static 'js/materialize/materialize.js' %}"></script>
        <script src="{% static 'js/materialize/init.js' %}"></script>


        <title>TT Platform</title>

       
</head>


{% if request.user.is_authenticated %}





{% elif not request.user.is_authenticated %}
<body>
<nav class="light-blue lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Social Platform APİ Test</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login/">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

{% endif %}

    {% block register %}{% endblock %}
    {% block login %}{% endblock %}
    {% block index %}{% endblock %}
    {% block twitter %}{% endblock %}
    {% block twitter_fallow %}{% endblock %}
    {% block twitter_rt %}{% endblock %}
    {% block tumblr_add %}{% endblock %}
    {% block tumblr %}{% endblock %}
    {% block user_key %}{% endblock %} 
    {% block twitter_add %}{% endblock %}   





</body>
</html>