<!DOCTYPE html>

<html>
<head>
	{% load static %}
        
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

       

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize/materialize.js' %}"></script>
        <script src="{% static 'js/materialize/init.js' %}"></script>



        <title>TT Platform</title>

       
</head>


{% if request.user.is_authenticated %}
<header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
          <a class="page-title" href="/">HomePage</a>
          
          </div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="fa fa-bars"></i></a>
      </div>


     <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">

     <div class="card blue-grey darken-1" style="margin:0;border-radius:0;">
            <div class="card-content white-text">
            <div class="chip">
            <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
            {{request.user}}
            </div>
              
              <p>User Profile</p>
            </div>
            <div class="card-action">
              <a href="/admin">User Profile</a>
            </div>
          </div>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Twitter</a>
          <div class="collapsible-body" style="">
            <ul>
                <li><a href="/twitter">Twitter Trends</a></li>
                <li><a href="{% url 'Twitter_User' %}">Users Add</a></li>
                <li><a href="{% url 'Twitter_follow' %}">User Follow</a></li>
                <li><a href="{% url 'Twitter_rtadd' %}">Tweet Add</a></li>
                <li><a href="{% url 'Twitter_rt' %}">Tweet RT Follow</a></li>        
                <li><a href="{% url 'Twitter_unfollow' %}">Oto Unfollow</a></li> 
            </ul>
          </div>
        </li>
      </ul>   
    </li>
     <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Tumblr</a>
          <div class="collapsible-body" style="">
            <ul>
                <li><a href="{% url 'Tumblr_Like' %}">Dashboard Like</a></li>
                <li><a href="{% url 'Tumblr_imgpost' %}">İmage Url Add</a></li> 
                <li><a href="{% url 'Tumblr_post' %}">İmage Post</a></li> 
                <li><a href="{% url 'Tumblr_rtput' %}">Reblog Url Add</a></li> 
                <li><a href="{% url 'Tumblr_rt_text' %}">Reblog Text Template</a></li> 
                <li><a href="{% url 'Tumblr_rt_post' %}">Reblog Post</a></li> 
                <li><a href="{% url 'Tumblr_url_follow' %}">Post Notes</a></li> 
            </ul>
          </div>
        </li>
      </ul>   
    </li>        
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Api Key </a>
          <div class="collapsible-body" style="">
            <ul>
                <li><a href="{% url 'Tumblr_key' %}">Tumblr Key</a></li>
                <li><a href="{% url 'Twitter_key' %}">Twitter Key</a></li> 
            </ul>
          </div>
        </li>
      </ul>   
    </li>
    <li class="bold"><a href="/" class="waves-effect waves-teal">BlaBla</a></li>
  </ul> 
    </header>

{% elif not request.user.is_authenticated %}
<body>
<nav class="light-blue lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Social Platform APİ Test</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login/">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

{% endif %}

   
    {% block register %}{% endblock %}
    {% block login %}{% endblock %}
    {% block index %}{% endblock %}
<main>
<div class="container">
<div class="row">
   

    {% block twitter %}{% endblock %}
    {% block twitter_fallow %}{% endblock %}
    {% block twitter_rt %}{% endblock %}
    {% block tumblr_add %}{% endblock %}
    {% block tumblr %}{% endblock %}
    {% block user_key %}{% endblock %} 
    {% block twitter_add %}{% endblock %}   

 </div>       
 </div>
</main>







</body>
</html>