{% extends "base.html" %}

{% block index%}


{% if request.user.is_authenticated %}
<div class="container" style="margin-top: 70px;">


	<div class="col-sm-9" > 
	<ul>
		<li><a href="/twitter">Twitter Top Hastag</a></li>
		<li><a href="{% url 'Twitter_User' %}" class="top-menu">Twitter User list Add</a></li>
		<li><a href="{% url 'Twitter_fallow' %}" class="top-menu">Twitter User Fallow</a></li>
		<li><a href="{% url 'Twitter_rtadd' %}" class="top-menu">Twitter RT list Add</a></li>
		<li><a href="{% url 'Twitter_rt' %}" class="top-menu">Twitter RT Fallow</a></li>

	</ul>	
	</div>
</div>		


{% elif not request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<br><br><br>
			<h1 class="title">

			</h1>
		</div>
	</div>	
</div>

{% endif %}


{% endblock %}