{% extends 'base.html' %}

{% block tumblr_add %}
<!-- -->
    {% if form %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif%}
<!-- -->     

    {% if imgform %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ imgform.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif %}
<!-- -->
    {% if imgpush %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ imgpush.as_p }}
    <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif %}
   
    {% if imgpush_result %}
    
    <br><br>
    <h2>{{ count }}</h2>
    <h3>{{ time }}</h3>

    
    {% endif %}
<!-- -->
     {% if rtform %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ rtform.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif %}
<!-- -->    
     {% if rtpushs %}
     
    <h1>Yeni gönderi</h1>
    <form method="POST" >{% csrf_token %}
     {% for rtpush in rtpushs  %}

     {% if rtpush.name == "rt_blogname" %}
    <div class="input-field coll s12"> 
         <select name="{{ rtpush.name }}" id="id_{{ rtpush.name }}" style="display: block"  >
                        {% for Rt_push in Rt_pushs  %}
                        <option value="{{ Rt_push.id }}">{{ Rt_push.blogname}}{{ Rt_push.context}} <br> </option>
                        {% endfor %}
                    </select>
    <button type="submit" class="save btn btn-default">Kaydet</button>
    </div>
    </form>
    {% endif %}
    
    {% endfor %}

    {% endif %}

    
    {% if rtpush_result %}
    
    <br><br>
    <h2>{{ count }}</h2>
    
    {% endif %}
<!-- -->
 {% if rt_text_save %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ rt_text_save.as_p }}
    <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif %}

<!-- -->
     {% if url_follow %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ url_follow.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif %}

    {% if url_rest %}
    <br>
    {% for url in url_rest %}
    <h4>{{ forloop.counter }}. {{ url }}</h2>
    {% endfor %}
    
    {% endif %}

<!-- -->


{% endblock %}