{% extends "base.html" %}

{% block twitter_add %}

<div class="container" style="margin-top: 70px;">


    {% if form3 %}
    <br><br>
    
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form3.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif%}


    {% if unfusers %}
    <br><br>
    <div class="col-sm-4" >

    {% for unfuser in unfusers %}

    <h4> {{ forloop.counter }}.{{ unfuser}} </h4>

    {% endfor %}

    </div>
   
    {% endif%}

 </div>

{% endblock %}