{% extends "base.html" %}

{% block user_key%}
    <br><br><br><br>
   {% if twitter_form %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ twitter_form.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif%}


    {% if twitter_update %}

    <br><br><br><br>
    <h2> OKEY!!!! </h2>
    {% endif%}

 {% if tumblr_form %}
    <h1>Yeni gönderi</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ tumblr_form.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
    {% endif%}


    {% if tumblr_update %}

    <br><br><br><br>
    <h2> OKEY!!!! </h2>
    {% endif%}


{% endblock %}